
nav ul li {
    font-size: 20;
    color: black;
    /* centre content */
    text-align: center;
    /* centre the nav bar */
    margin: auto;
    margin: 0 10px;
}

section {
    font-family: "Lora", serif;
    font-size: 20;
    color: black;
    text-align: center;
    padding: 5%;
    /* border: 2px solid rgb(45, 136, 255); */
}

h1 h2 h3 {
    /* lora font */
    font-family: "Lora", serif;
}
.overlay-text {
    font-family: "Lora", serif;
}

.smol-p {
    /* open sans font */
    font-family: "Oswald", sans-serif;
    /* font size 16 */
    font-size: 20px;
}

.bigger-p {
    font-size: 26px;
}

.form-group {
    /* open sans font */
    font-family: "Oswald", sans-serif;
}

.details-container {
    padding: 5%;
}

.overlay-text {
    position: absolute;
    transform: translate(-50%, -50%);
    color: rgb(225, 239, 250);
    font-weight: bold;
    z-index: 2;
    background-color: rgba(0, 12, 35, 0.5);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    padding-bottom: 2%;
    /* rounded corners */
    border-radius: 10px;
}
/* overlay text on a desktop browser */
@media (min-width: 768px) {
    .overlay-text {
        font-size: 40px;
        min-width: 70%;
        top: 25%;
        left: 50%;
    }
}
/* otherwise: */
@media (max-width: 768px) {
    .overlay-text {
        min-width: 90%;
        font-size: 22px;
        top: 50%;
        left: 50%;
    }
}

.background-image {
    width: 100%;
    height: auto;
    z-index: 1;
}
.gallery-image {
    width: 100%;
    height: auto;
    z-index: 1;
}

.container {
    position: relative;
    width: 100%;
}
